<div class="mx-auto md:w-2/3 w-full flex justify-center">
  <div class="w-full lg:w-3/4 xl:w-2/3">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <!-- Breadcrumb -->
    <div class="breadcrumbs max-w-xs text-sm">
      <ul>
        <li>
          <%= link_to 'Projects', projects_path, class: 'text-blue-500 hover:text-blue-700' %>
        </li>
        <li>
          <%= link_to @narrative_series.project.title, project_path(@narrative_series.project), class: 'text-blue-500 hover:text-blue-700' %>
        </li>
        <li>
          <span class="text-gray-700"><%= @narrative_series.title %></span>
        </li>
      </ul>
    </div>
    <%= render @narrative_series %>

    <div class="mt-4 flex space-x-2">
      <%= link_to "Edit this series", edit_project_narrative_series_path(@narrative_series), class: "rounded-lg py-3 px-5 bg-green-500 text-white font-medium hover:bg-green-600" %>
      <%#= link_to "Back to series", project_narrative_series_index_path(@narrative_series.project), class: "rounded-lg py-3 px-5 bg-gray-100 text-black font-medium hover:bg-gray-200" %>
      <%= button_to "Destroy this series", project_narrative_series_path(@narrative_series.project, @narrative_series), method: :delete, class: "rounded-lg py-3 px-5 bg-red-500 text-white font-medium hover:bg-red-600" %>
    </div>
  </div>
</div>
