    <%= form_with(model: narrative_step, class: "space-y-6") do |form| %>
      <% if narrative_step.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(narrative_step.errors.count, "error") %> prohibited this narrative step from being saved:</h2>
          <ul>
            <% narrative_step.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-control">
        <%= form.label :name, class: "text-black" %>
        <%= form.text_field :name, class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <%= form.label :ordinal, class: "text-black" %>
        <%= form.text_field :ordinal, class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <%= form.submit "Save", class: "btn bg-primary text-white font-semibold py-2 px-4 rounded hover:bg-primary-dark" %>
      </div>
    <% end %>



