<%= form_with(model: [@narrative_root.project, @narrative_root.narrative_series, @narrative_root],
              class: "space-y-6", local: true) do |form| %>
  <%= form.hidden_field :narrative_series_id, value: @narrative_root.narrative_series.id %>
  <% if narrative_root.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(narrative_root.errors.count, "error") %> prohibited this narrative_root from being saved:</h2>

      <ul>
        <% narrative_root.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :title, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

  </div>

  <div class="inline">
    <br/>
    <%= form.submit class: "btn bg-secondary" %>
  </div>
<% end %>
