<div class="bg-neutral shadow-lg rounded-lg p-4 border border-primary mb-4">
  <!-- Narrative Series Details -->
  <div class="mb-4">
    <h2 class="text-2xl font-semibold mb-2"><%= @narrative_root.title %></h2>
  </div>

  <div tabindex="0" class="collapse collapse-arrow border-base-300 bg-base-200 border">
    <div class="collapse-title text-xl font-medium">Focus me to see content</div>
    <div class="collapse-content">
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    </div>
  </div>

  <!-- Narrative Property Fields -->
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg">
      <thead>
      <tr class="bg-gray-100">
        <th class="px-6 py-3 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-700 uppercase tracking-wider">Name</th>
        <th class="px-6 py-3 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-700 uppercase tracking-wider">Value</th>
        <th class="px-6 py-3 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-700 uppercase tracking-wider">Type</th>
        <th class="px-6 py-3 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-700 uppercase tracking-wider">JSON Name</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      <!-- Table rows here -->
      <% @narrative_root.narrative_property_fields.each do |np| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            <%= np.name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= np.value %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= select_tag :property_type, options_for_select(Narrative::PropertyField.property_types) %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= np.export_name %>
          </td>
        </tr>
      <% end %>

      <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>

<!--  <div class="narrative-properties-section">-->
<!--    <h3 class="text-lg font-semibold mb-2 font-secondary">Narrative Properties</h3>-->
<!--    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 narrative-property-grid" data-project-id="<%#= @narrative_root.id %>">-->
      <%# @narrative_root.narrative_property_fields.each do |np| %>
<!--        <div class="bg-gray-100 p-4 rounded-lg shadow-md">-->
<!--          <h4 class="font-bold text-primary mb-2">-->
            <%#= link_to np.title, project_narrative_series_root_property_path(@narrative_root.narrative_series.project, @narrative_root.narrative_series, @narrative_root, np) %>
<!--          </h4>-->
<!--          <p class="text-sm text-secondary">Value: <%#= np.value %></p>-->
<!--        </div>-->
      <%# end %>
<!--      <div class="bg-gray-100 p-4 rounded-lg shadow-md flex items-center justify-center cursor-pointer add-narrative-property" data-project-id="<%#= @narrative_root.id %>">-->
<!--        <span class="text-2xl text-gray-500">+</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>