<div class="bg-neutral shadow-lg rounded-lg p-4 border border-primary mb-4">
  <!-- Narrative Series Details -->
  <div class="mb-4">
    <h2 class="text-2xl font-semibold mb-2"><%= @narrative_root.title %></h2>
  </div>

  <!-- Button to Add New PropertyField -->
  <div class="mt-4">
    <%= link_to 'Add New Field', new_project_narrative_series_narrative_root_narrative_property_field_path(@narrative_root.project, @narrative_root.narrative_series, @narrative_root), class: 'btn btn-primary' %>
  </div>

  <div class="">

  </div>
  <!-- Property Fields -->
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Type</th>
        <th>JSON Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody id="property-fields-list">
      <% @narrative_root.narrative_property_fields.each do |property_field| %>
        <tr id="property-field-<%= property_field.id %>">
          <%= render property_field %>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <div class="flex space-x-2">
              <%= link_to "Edit", edit_project_narrative_series_narrative_root_narrative_property_field_path(@narrative_root.project, @narrative_root.narrative_series, @narrative_root, property_field), class: "btn-sm bg-primary text-white rounded px-1 py-2 text-xs" %>
              <%= link_to "Delete", project_narrative_series_narrative_root_narrative_property_field_path(@narrative_root.project, @narrative_root.narrative_series, @narrative_root, property_field), method: :delete, class: "btn-sm bg-accent  px-1 py-1 text-white rounded" %>

            </div>
           </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Type</th>
        <th>JSON Name</th>
        <th></th>
      </tr>
      </tfoot>
    </table>
  </div>


</div>

<div class="bg-neutral shadow-lg rounded-lg p-4 border border-primary mb-4">
  <!-- Narrative Steps -->
  <h2 class="text-2xl font-semibold mb-2">
    Narrative Steps
  </h2>

  <div class="mt-4">
    <%= link_to 'Add Step', new_project_narrative_series_narrative_root_narrative_step_path(@narrative_root.project, @narrative_root.narrative_series, @narrative_root), class: 'btn btn-primary' %>
  </div>
<br/>
  <div class="space-y-4">
    <% @narrative_root.narrative_steps.each do |step| %>
      <div class="bg-gray-100 p-4 rounded-lg">
        <h4 class="font-bold text-primary mb-2">Name</h4>


        <% step.narrative_property_fields.show_fields.each do |f| %>
          <div class="">
            <h4 class="font-bold text-black mb-2"><%= f.name %>:</h4>
            <p class="text-sm text-secondary"><%= f.value %></p>
          </div>
        <% end %>

        <div>
          <%= link_to 'Edit', edit_project_narrative_series_narrative_root_narrative_step_path(@narrative_root.project, @narrative_root.narrative_series, @narrative_root, step), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>

</div>